@font-face {
  font-family: font;
  src: url(font.ttf);
  font-display: swap;
}
* {
  font-family: font;
  margin: 0;
  color: #c4ae08;
}

.knapp-bild-mindre {
  width: 11.3vw;
  min-width: 113px;
}

@media (min-width: 1228px) {
  #english-website {
    padding-top: 3em;
  }
  #english-website {
    float: left;
  }
}

@media (max-width: 1228px) {
  #english-website {
    padding-top: 2em;
  }
  #english-website {
    float: left;
  }
}

ul {
  margin-top: 2em;
}
h1 {
  text-align: center;
  -webkit-text-stroke: 0.07vw #000;
}
h2 {
  text-align: center;
  -webkit-text-stroke: 0.05vw #000;
}

#prenumerera {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
main a,
li {
  font-size: max(2.2vw, 23px);
  font-family: serif;
  -webkit-text-stroke: 0.02vw #c4ae08;
}

h1 {
  font-size: max(6vw, 40px);
}
h2 {
  font-size: max(2.2vw, 30px);
}
h1,
h2 {
  -webkit-text-stroke: 0.05vw #000;
}

a {
  font-size: max(3vw, 10px);
  -webkit-text-stroke: 0.05vw #000;
  text-decoration: none;
}
footer p {
  -webkit-text-stroke: 0.7px #000;
}

.indexdel a,
li,
p {
  overflow-wrap: break-word;
  font-family: serif;
}
a,
p {
  text-decoration: none;
  text-align: center;
}
main a,
main p {
  -webkit-text-stroke: 0.02vw #c4ae08;
}
footer p {
  -webkit-text-stroke: 0.04vw #000;
}

a p:hover,
a:hover {
  color: grey;
  transition: 0.2s ease-in-out;
}
main img:hover,
#english-website img:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(196, 174, 8, 0.3);
}

main {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 2em;
  min-height: 100vh;
}
header {
  border: solid#c4ae08 5px;
  background-image: url(bilder/stora-nordiska-kriget-karta.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  padding: 2em;
  background-color: #011030;
  border: solid#c4ae08 5px;
  background-image: url(bilder/stora-nordiska-kriget-karta.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.indexdel {
  width: 60vw;
  min-width: 330px;
  border: solid#c4ae08 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-image: url(bilder/bakgrund.webp);
  background-position: center;
  background-size: cover;
}
.steamdel,
.steamdeltva,
.steamdeltre {
  display: block;
  padding-top: 1vw;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

.indexdel a,
.indexdel p {
  padding-top: 1.5vw;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.indexdel img {
  margin-top: 0.3em;
}
@media screen and (max-width: 841px) {
  .steamdel {
    display: none;
  }
}
@media screen and (min-width: 841px) {
  .steamdeltva {
    display: none;
  }
}
@media (max-width: 588px) {
  .steamdeltva,
  .steamdeltre {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 839px) {
    .lanseringsfilmsdel {
    display: none !important;
  }
  .steamdeltva,
  .steamdeltre {
    min-width: 100px;
  }
  header .knapp-bild-mindre {
    width: 15vw;
    min-width: 113px;
  }
  .indexdel {
    min-width: 220px;
    width: 75vw;
  }
  .indexdel {
    padding: 1em;
  }
  header {
    padding: 1.5vw;
  }
}
@media (min-width: 839px) {
  .steamdel img,
  .steamdeltva,
  .steamdeltre {
    min-width: 250px;
  }
  .indexdel {
    min-width: 700px;
    width: 60vw;
  }
  .indexdel {
    padding: 1.5em;
  }
  header {
    padding: 1.5vw;
  }
}
.knapp-bild {
  width: 20vw;
  min-width: 180px;
}
.grandministudios-logga {
  width: 6vw;
  min-width: 50px;
}
.youtubedel {
  padding-top: 1vw;
  min-width: 250px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}
.youtubedel iframe {
  min-width: 550px;
  width: 35vw;
}